In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as py
from sklearn import linear_model

In [3]:
df=pd.read_csv(r"C:\Users\ASUS\Downloads\Bengaluru_House_Data.csv")

In [9]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [24]:
dummies = pd.get_dummies(df.area_type)

# Combine with the numeric features
a= pd.concat([df,dummies],axis='columns')
final=a.drop(['area_type'],axis='columns')

In [25]:
final.head()

,availability,location,size,society,total_sqft,bath,balcony,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,False,False,False,True
1,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,False,False,True,False
2,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,True,False,False,False
3,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,False,False,False,True
4,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,False,False,False,True

In [26]:
reg=linear_model.LinearRegression()

In [29]:
x=final.drop('price',axis='columns')
y=final.price

In [30]:
reg.fit(x,y)

ValueError: could not convert string to float: '19-Dec'